
<div class="modal fade" id="beDegDetailModal" tabindex="-1" aria-labelledby="beDegModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="input_details_box modal-content">
            <div style="text-align: right;">
                <button class="btn button" type="button" data-bs-dismiss="modal"><i class="fas fa-times"></i></button>
            </div>
            <div class="heading">
                <h1 class="modal-title" id="beDegModalLabel">Education Details</h1>
            </div>

            <div class="modal-body">
                <form action="/education/beDeg" method="POST">
                    <div class="formControl container">
                        <div class="input-gap row">
                            <p>Graduation status</p>
                            <input type="hidden" name="eduName" value="beDeg">
                            <div class="col">
                                <label for="pursuing">Pursuing</label>
                                <input type="radio" id="pursuing" name="radio_input" value="Pursuing">
                            </div>
                            <div class="col">
                                <label for="completed">Completed</label>
                                <input type="radio" id="completed" name="radio_input" value="Completed">
                            </div>
                        </div>
                        <div class="input-gap">
                            <label for="clgName">College</label>
                            <input type="text" id="clgName" name="clgName" placeholder="e.g. Hindu College " />
                        </div>
                        <div class="input-gap row">
                            <div class="col">
                                <label for="startYear">Start Year</label>
                                <input type="number" id="startYear" name="startYear" min="1900" max="2099" />
                            </div>
                            <div class="col">
                                <label for="endYear">End Year</label>
                                <input type="number" id="endYear" name="endYear" min="1900" max="2099" />
                            </div>
                        </div>
                        <div class="input-gap row">
                            <div class="col">
                                <label for="degree">Degree</label>
                                <input type="text" id="degree" name="degree" placeholder="e.g. B.Sc" />
                            </div>
                            <div class="col">
                                <label for="stream">Stream</label>
                                <input type="text" id="stream" name="stream" placeholder="e.g. economics" />
                            </div>
                        </div>
                        <div class="input-gap row">
                            <div class="col">
                                <label for="scale">Performance Scale</label>
                                <select class="form-select" name="perf_scale" id="scale">
                                    <option value="Percentage">Percentage</option>
                                    <option value="10">CGPA (scale of 10)</option>
                                    <option value="5">CGPA (scale of 5)</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="perf">Performance</label>
                                <input type="number" id="perf" name="mark" placeholder="0.00" />
                            </div>
                        </div>
                    </div>
                    <div class="btn-div">
                        <button class="btn btn-outline-info" type="submit">save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>