
<div class="modal fade" id="responsibilityDetailModal" tabindex="-1" aria-labelledby="responsibilityModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="input_details_box modal-content">
            <div style="text-align: right;">
                <button class="btn button" type="button" data-bs-dismiss="modal"><i class="fas fa-times"></i></button>
            </div>
            <div class="heading">
                <h1 class="modal-title" id="responsibilityModalLabel">Position of responsibility</h1>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <div class="formControl container">
                        <div class="input-gap">
                            <label for="disc">Discription</label>

                            <textarea style="width: 100%;" maxlength="250" name="resposibilityDisc" id="disc" cols="10"
                                rows="8" placeholder="If you have been/are an active part of societies, conducted any events or led a team, add details here.

e.g. Led a team of 5 volunteers to plan and conduct activities for literary event in college fest
"></textarea>
                        </div>

                    </div>
                    <div class="btn-div">
                        <button class="btn btn-outline-info" type="submit">save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>