
<div class="resume-container">

    <div class="details_table row" style="align-items: center;">
        <div class="col">
            <h1>Resume</h1>
        </div>
        <div class="col">
            <a class="btn button" href="/download/61423166f70a347a85d1c85d">Download <i class="fas fa-download"></i></a>
        </div>
    </div>

    <% links.forEach(element => { %>  
        <div class="details_table row">
            <div class="col">
                <h4><%= element.heading %> </h4>
            </div>
            <div class="col col-7">
                <button type="button" class="btn button" data-bs-toggle="modal" data-bs-target="<%= element.id %>">+ <%= element.linkName %> </button>
            </div>
        </div>

        <hr class="horizontal_divider">
    <% }) %>

    <% link.forEach(element => { %>    
        <%- include(`./linkSubFolder/${element}-link.ejs`); -%>
        <hr class="horizontal_divider">
    <% }) %>

</div>